{% extends "base.twig" %}

{% block title %}Usuarios{% endblock %}

{% block body %}

<a href="/menu" class="btn btn-warning">Home</a>
<a href="/posts" class="btn btn-default ">CRUD posts</a>
<a href="/logout" class="btn btn-danger">Cerrar sesión</a>

<h1>Usuarios <button type="button" class="btn btn-primary" data-toggle="modal" 
                  data-target="#ModalCreate" 
                  data-whatever="Crear usuario"
                  data-action="/users/store">Crear</button></h1>

{{ request.messages('danger') }}

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>     
  {% for user in users.items %}
    <tr>
      <td class="center"><img class="avatar" src="/images/users/{{ user.avatar }}"></td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td class="text-center">
        <form action="/users/delete/{{ user.id }}" method="post">
          <button title="Editar usuario" type="button" class="btn btn-primary glyphicon glyphicon-pencil" data-toggle="modal" 
                  data-target="#ModalUpdate" 
                  data-whatever="Editar usuario"
                  data-name="{{ user.name }}"
                  data-email="{{ user.email }}"
                  data-avatar="/images/users/{{user.avatar}}"
                  data-action="/users/update/{{ user.id }}"></button>
          <button title="Borrar usuario" type="submit" class="btn btn-danger glyphicon glyphicon-trash"></button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<ul class="pagination">
    {{ users.links | raw }}
</ul>


<!-- // Modales -->
<div class="modal fade" id="ModalCreate" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Mensaje</h4>
      </div>
      <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="name" placeholder="Escribe un nombre..." id="userName" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="email" placeholder="Escribe un email..." id="userEmail" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Contraseña</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="password" placeholder="Escribe una contraseña...">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Avatar</label>
            <div class="col-lg-10">
                <input class="btn btn-default btn-file" type="file" class="form-control" name="avatar">
            </div>
          </div> 
          </div>
          <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button id="response" type="submit" class="btn btn-primary"></button>
            </div>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdate" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Mensaje</h4>
      </div>
      <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="name" placeholder="Escribe un nombre..." id="userName" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="email" placeholder="Escribe un email..." id="userEmail" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Avatar</label>
            <div class="col-lg-10">
                <img src="" class="avatar" id="userAvatar"><input class="btn btn-default btn-file" type="file" class="form-control" name="avatar">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Anterior Contraseña</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="password" placeholder="Escribe tu anterior contraseña...">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Nueva Contraseña</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="newpassword" placeholder="Escribe la nueva contraseña...">
            </div>
          </div>    
          </div>
          <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button id="response" type="submit" class="btn btn-primary"></button>
            </div>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
    
    // Simple script para crear modales con bootstrap.js
    $('#ModalCreate').on('show.bs.modal', function (event) {
        
        // Button that triggered the modal
        var button = $(event.relatedTarget);
        // variables
        var recipient = button.data('whatever');
        var action = button.data('action');
        var name = button.data('name');
        var email = button.data('email');
        
        var modal = $(this)
        // Mensaje de la modal
        modal.find('.modal-title').text(recipient)
        modal.find("form").attr("action", action);
        // Datos pasados por Twig
        modal.find("#userName").val(name);
        modal.find("#userEmail").val(email);
        modal.find("#response").html(recipient);
    }); 
    
    $('#ModalUpdate').on('show.bs.modal', function (event) {
        
        // Button that triggered the modal
        var button = $(event.relatedTarget);
        // variables
        var recipient = button.data('whatever');
        var action = button.data('action');
        var name = button.data('name');
        var email = button.data('email');
        var avatar = button.data('avatar');
        
        var modal = $(this)
        // Mensaje de la modal
        modal.find('.modal-title').text(recipient)
        modal.find("form").attr("action", action);
        // Datos pasados por Twig
        modal.find("#userName").val(name);
        modal.find("#userEmail").val(email);
        modal.find("#userAvatar").attr("src", avatar)
        modal.find("#response").html(recipient);
    }); 
</script>

{% endblock %}