{% extends "base.twig" %}

{% block title %}Usuarios{% endblock %}

{% block body %}

<a href="/menu" class="btn btn-warning">Home</a>
<a href="/posts" class="btn btn-default ">CRUD posts</a>
<a href="/logout" class="btn btn-danger">Cerrar sesión</a>

<h1>Usuarios <button type="button" class="btn btn-primary" data-toggle="modal" 
                  data-target="#Modal" 
                  data-whatever="Crear usuario"
                  data-action="/users/store">Crear</button></h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td class="text-center">
        <form action="/users/delete/{{ user.id }}" method="post">
          <button type="button" class="btn btn-primary" data-toggle="modal" 
                  data-target="#Modal" 
                  data-whatever="Editar usuario"
                  data-name="{{ user.name }}"
                  data-email="{{ user.email }}"
                  data-action="/users/update/{{ user.id }}">Editar</button>
          <button type="submit" class="btn btn-danger">Borrar</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<!-- // Modales -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Mensaje</h4>
      </div>
      <form action="" method="POST" class="form-horizontal">
          <div class="modal-body">
            <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="name" placeholder="Escribe un nombre..." id="userName" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="email" placeholder="Escribe un email..." id="userEmail" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Contraseña</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="pass" value="">
            </div>
          </div>
          </div>
          <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button id="response" type="submit" class="btn btn-primary"></button>
            </div>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
    
    // Simple script para crear modales con bootstrap.js
    $('#Modal').on('show.bs.modal', function (event) {
        
        // Button that triggered the modal
        var button = $(event.relatedTarget);
        // variables
        var recipient = button.data('whatever');
        var action = button.data('action');
        var name = button.data('name');
        var email = button.data('email');
        
        var modal = $(this)
        // Mensaje de la modal
        modal.find('.modal-title').text(recipient)
        modal.find("form").attr("action", action);
        // Datos pasados por Twig
        modal.find("#userName").val(name);
        modal.find("#userEmail").val(email);
        modal.find("#response").html(recipient);
    }); 
</script>

{% endblock %}