{% extends "base.twig" %}

{% block title %}Posts{% endblock %}

{% block body %}

<a href="/menu" class="btn btn-warning">Home</a>
<a href="/users" class="btn btn-default">CRUD usuarios</a>
<a href="/logout" class="btn btn-danger">Cerrar sesión</a>

<h1>Posts <button type="button" class="btn btn-primary" data-toggle="modal" 
                  data-target="#Modal" 
                  data-whatever="Crear post"
                  data-action="/posts/store">Crear</button></h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Título</th>
      <th>Contenido</th>
      <th>Autor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts.items %}
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.content|truncate(100) }}</td>
      <td>{{ post.author }}</td>
      <td class="text-center">
        <form action="/posts/delete/{{ post.id }}" method="post">
          <button type="button" class="btn btn-primary" data-toggle="modal" 
                  data-target="#Modal" 
                  data-whatever="Editar post"
                  data-title="{{ post.title }}"
                  data-content="{{ post.content }}"
                  data-action="/posts/update/{{ post.id }}">Editar</button>
          <button type="submit" class="btn btn-danger">Borrar</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  
<ul class="pagination">
    {{ posts.links | raw }}
</ul>

<!-- // Modales -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Mensaje</h4>
      </div>
      <form action="" method="POST" class="form-horizontal">
          <div class="modal-body">
            <div class="form-group">
            <label class="col-lg-2 control-label">Título</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Escribe un título..." name="title" id="postTitle" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Contenido</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" name="content" placeholder="Escribe el contenido del post..." id="postContent"></textarea>
              </div>
          </div>
          </div>
          <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button id="response" type="submit" class="btn btn-primary"></button>
            </div>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
    
    // Simple script para crear modales con bootstrap.js
    $('#Modal').on('show.bs.modal', function (event) {
        
        // Button that triggered the modal
        var button = $(event.relatedTarget);
        // variables
        var recipient = button.data('whatever');
        var action = button.data('action');
        var title = button.data('title');
        var content = button.data('content');
        
        var modal = $(this)
        // Mensaje de la modal
        modal.find('.modal-title').text(recipient)
        modal.find("form").attr("action", action);
        // Datos pasados por Twig
        modal.find("#postTitle").val(title);
        modal.find("#postContent").val(content);
        modal.find("#response").html(recipient);
    }); 
</script>



{% endblock %}
